videos_monitorizacion_instalacion_solar/3-leer-bms-chino/node-red/flow-node-red.json
[
    {
        "id": "2907f506.466f2a",
        "type": "tab",
        "label": "BMS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f05c2f1e.e9446",
        "type": "exec",
        "z": "2907f506.466f2a",
        "command": "/home/pi/bms/bms_nodered.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "bms_read",
        "x": 112,
        "y": 100,
        "wires": [
            [
                "1db9d597.c4ec3a",
                "ca24c7ca.51678"
            ],
            [
                "7206feae.f565c8"
            ],
            []
        ]
    },
    {
        "id": "66458373.fe58a4",
        "type": "inject",
        "z": "2907f506.466f2a",
        "name": "BMS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "f05c2f1e.e9446"
            ]
        ]
    },
    {
        "id": "7206feae.f565c8",
        "type": "debug",
        "z": "2907f506.466f2a",
        "name": "bms_error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "8e39d289.0acf58",
        "type": "function",
        "z": "2907f506.466f2a",
        "d": true,
        "name": "parse_bms",
        "func": "msg2=null;\nmsg3=null;\n\nif (msg.payload!='empty\\n'){\n    msg.payload=JSON.parse(msg.payload)\n}\n\nif (msg.payload.min<3100){\n    msg2={};\n    msg2.payload={};\n    msg2.payload.event='alertminvolt';\n}\n\nif (msg.payload.max>4200){\n    msg3={};\n    msg3.payload={};\n    msg3.payload.event='alertmaxvolt';\n}\n\nreturn [msg,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1370,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "da25adfe.d48f4",
        "type": "debug",
        "z": "2907f506.466f2a",
        "name": "bms_json_raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 802,
        "y": 40,
        "wires": []
    },
    {
        "id": "a28da26.4e499e",
        "type": "emoncms",
        "z": "2907f506.466f2a",
        "name": "Emoncms Push",
        "emonServer": "c13dee13.c1dce8",
        "nodegroup": "bms",
        "datatype": "legacy",
        "x": 802,
        "y": 100,
        "wires": []
    },
    {
        "id": "ace9d848.e85f7",
        "type": "debug",
        "z": "2907f506.466f2a",
        "d": true,
        "name": "bms_event_error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 360,
        "wires": []
    },
    {
        "id": "79649ab0.a8c6ac",
        "type": "change",
        "z": "2907f506.466f2a",
        "name": "set_error_mode_low_battery",
        "rules": [
            {
                "t": "set",
                "p": "battery_error",
                "pt": "global",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "46e9aded.842164"
            ]
        ]
    },
    {
        "id": "eb01005.a9183",
        "type": "change",
        "z": "2907f506.466f2a",
        "name": "set_error_mode_high_battery",
        "rules": [
            {
                "t": "set",
                "p": "battery_error",
                "pt": "global",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "46e9aded.842164",
        "type": "link out",
        "z": "2907f506.466f2a",
        "name": "",
        "links": [
            "a900b1cd.c310c"
        ],
        "x": 1035,
        "y": 220,
        "wires": []
    },
    {
        "id": "b1937f34.eb109",
        "type": "inject",
        "z": "2907f506.466f2a",
        "name": "Set_Battery_Error",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "79649ab0.a8c6ac"
            ]
        ],
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "ff34c942.36e5a",
        "type": "switch",
        "z": "2907f506.466f2a",
        "name": "check_min",
        "property": "payload.min",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "3300",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "79649ab0.a8c6ac",
                "b5a88925.37ba28"
            ],
            [
                "ec107bb8.5f1018"
            ]
        ]
    },
    {
        "id": "1db9d597.c4ec3a",
        "type": "function",
        "z": "2907f506.466f2a",
        "name": "bms_parse",
        "func": "if (msg.payload!='empty\\n'){\n    msg.payload=JSON.parse(msg.payload)\n}\n\nmsg.payload.batter_low_error=global.get('battery_error');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 312,
        "y": 80,
        "wires": [
            [
                "ff34c942.36e5a",
                "d6466e19.dd0f5",
                "da25adfe.d48f4",
                "a28da26.4e499e",
                "76d085cf.47ecbc"
            ]
        ]
    },
    {
        "id": "d6466e19.dd0f5",
        "type": "switch",
        "z": "2907f506.466f2a",
        "name": "check_max",
        "property": "payload.max",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "4200",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "4200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "eb01005.a9183"
            ],
            []
        ]
    },
    {
        "id": "ec107bb8.5f1018",
        "type": "change",
        "z": "2907f506.466f2a",
        "name": "reset_error_low",
        "rules": [
            {
                "t": "set",
                "p": "battery_error",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b5a88925.37ba28",
        "type": "debug",
        "z": "2907f506.466f2a",
        "name": "bms_error_low",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "1e8d6d3b.711943",
        "type": "link in",
        "z": "2907f506.466f2a",
        "name": "toBmsUI",
        "links": [
            "76d085cf.47ecbc"
        ],
        "x": 295,
        "y": 720,
        "wires": [
            [
                "fa3eb9f5.d7ea98",
                "69f3cf6.7309bb",
                "593b74da.be7884",
                "f5f8eb6b.67682",
                "b05302f.f9e48",
                "52e0abe6.6f5bdc",
                "70079dab.b304a4",
                "b4dcc36.9f0ba4",
                "651c482a.c392c8",
                "34fa20d2.14c46",
                "254375a2.d5cfb2",
                "589f48de.c90638",
                "226e3531.506c42",
                "5c4d5a5a.db66cc",
                "1755673b.aee7b9"
            ]
        ]
    },
    {
        "id": "76d085cf.47ecbc",
        "type": "link out",
        "z": "2907f506.466f2a",
        "name": "fromBMSParse",
        "links": [
            "1e8d6d3b.711943"
        ],
        "x": 475,
        "y": 180,
        "wires": []
    },
    {
        "id": "d1901111.b1fc9",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 16,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "1",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s1",
        "peaktime": 3000,
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "382c536c.5039ac",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 18,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "3",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s3",
        "peaktime": 3000,
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "abdf58fc.37a4d",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 19,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "4",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s4",
        "peaktime": 3000,
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "26683b50.3062b4",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 20,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "5",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s5",
        "peaktime": 3000,
        "x": 710,
        "y": 600,
        "wires": []
    },
    {
        "id": "eea161ed.ce3838",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 21,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "6",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s6",
        "peaktime": 3000,
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "1ff1b272.6f1c56",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 22,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "7",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s7",
        "peaktime": 3000,
        "x": 710,
        "y": 680,
        "wires": []
    },
    {
        "id": "f7bb4e76.4fe49",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 23,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "8",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s8",
        "peaktime": 3000,
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "b09e50f6.445c18",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 24,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "9",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s9",
        "peaktime": 3000,
        "x": 710,
        "y": 760,
        "wires": []
    },
    {
        "id": "a0428ae4.26b78",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 25,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "10",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s10",
        "peaktime": 3000,
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "3681acf6.537224",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 26,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "11",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s11",
        "peaktime": 3000,
        "x": 710,
        "y": 840,
        "wires": []
    },
    {
        "id": "a840372a.2fd56",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 27,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "12",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s12",
        "peaktime": 3000,
        "x": 710,
        "y": 880,
        "wires": []
    },
    {
        "id": "e62f8bf7.b2a9b8",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 28,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "13",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s13",
        "peaktime": 3000,
        "x": 710,
        "y": 920,
        "wires": []
    },
    {
        "id": "973ebafc.a3eba",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 29,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "14",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s14",
        "peaktime": 3000,
        "x": 710,
        "y": 960,
        "wires": []
    },
    {
        "id": "af47a826.8fce5",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 30,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "15",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s15",
        "peaktime": 3000,
        "x": 710,
        "y": 1000,
        "wires": []
    },
    {
        "id": "fa3eb9f5.d7ea98",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 1,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s1\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "d1901111.b1fc9"
            ]
        ]
    },
    {
        "id": "69f3cf6.7309bb",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 2,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s2\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 480,
        "wires": [
            [
                "2354be55.a3f1d2"
            ]
        ]
    },
    {
        "id": "2354be55.a3f1d2",
        "type": "ui_level",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "order": 17,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "2",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "3000",
        "max": "4200",
        "segWarn": "3600",
        "segHigh": "3900",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "0",
        "fontValue": "0",
        "fontSmall": "0",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.s2",
        "peaktime": 3000,
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "593b74da.be7884",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 6,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s6\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 640,
        "wires": [
            [
                "eea161ed.ce3838"
            ]
        ]
    },
    {
        "id": "f5f8eb6b.67682",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 7,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s7\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 680,
        "wires": [
            [
                "1ff1b272.6f1c56"
            ]
        ]
    },
    {
        "id": "b05302f.f9e48",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 8,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s8\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 720,
        "wires": [
            [
                "f7bb4e76.4fe49"
            ]
        ]
    },
    {
        "id": "52e0abe6.6f5bdc",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 9,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s9\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "b09e50f6.445c18"
            ]
        ]
    },
    {
        "id": "70079dab.b304a4",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 15,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s15\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 1000,
        "wires": [
            [
                "af47a826.8fce5"
            ]
        ]
    },
    {
        "id": "b4dcc36.9f0ba4",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 14,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s14\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 960,
        "wires": [
            [
                "973ebafc.a3eba"
            ]
        ]
    },
    {
        "id": "651c482a.c392c8",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 13,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s13\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 920,
        "wires": [
            [
                "e62f8bf7.b2a9b8"
            ]
        ]
    },
    {
        "id": "34fa20d2.14c46",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 12,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s12\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 880,
        "wires": [
            [
                "a840372a.2fd56"
            ]
        ]
    },
    {
        "id": "254375a2.d5cfb2",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 11,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s11\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 840,
        "wires": [
            [
                "3681acf6.537224"
            ]
        ]
    },
    {
        "id": "589f48de.c90638",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 10,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s10\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 800,
        "wires": [
            [
                "a0428ae4.26b78"
            ]
        ]
    },
    {
        "id": "226e3531.506c42",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 5,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s5\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 600,
        "wires": [
            [
                "26683b50.3062b4"
            ]
        ]
    },
    {
        "id": "5c4d5a5a.db66cc",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 4,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s4\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 560,
        "wires": [
            [
                "abdf58fc.37a4d"
            ]
        ]
    },
    {
        "id": "1755673b.aee7b9",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "b14a5681.267f4",
        "name": "",
        "order": 3,
        "width": "1",
        "height": "1",
        "format": "<div style=\"font-size:11px\">\n    <span ng-bind-html=\"msg.payload.s3\"></span>\n    <span>mV</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 520,
        "wires": [
            [
                "382c536c.5039ac"
            ]
        ]
    },
    {
        "id": "c14a1f77.fee92",
        "type": "ui_template",
        "z": "2907f506.466f2a",
        "group": "8a1ee54d.bdca9",
        "name": "",
        "order": 2,
        "width": "5",
        "height": "1",
        "format": "<a style=\"color:#ddd;\" href=\"http://192.168.1.49/dashboard/view?id=13\">EmonCMS</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ca24c7ca.51678",
        "type": "debug",
        "z": "2907f506.466f2a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "c13dee13.c1dce8",
        "type": "emoncms-server",
        "server": "http://localhost/",
        "name": ""
    },
    {
        "id": "b14a5681.267f4",
        "type": "ui_group",
        "name": "bms",
        "tab": "e1f7d739.5c5838",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "8a1ee54d.bdca9",
        "type": "ui_group",
        "name": "gauge",
        "tab": "e1f7d739.5c5838",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "e1f7d739.5c5838",
        "type": "ui_tab",
        "name": "BMS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]